{% extends "layout.twig" %}

{% block title %}404{% endblock %}

{% block content %}
    <main class="main">
        <section class="home_section">
            <div class="container">
                <h1>404 page NOT found</h1>
            </div>
        </section>
    </main>
{% endblock %}